.topheader {
  position: fixed;
  background-color: rgb(25, 118, 210);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}

.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.logo h1 {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  color: #5ef3ff;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.menu-horizontal li a {
  display: block;
  text-decoration: none;
  color: white;
}

.menu-horizontal li a:hover {
  color: white;
  background-color: black;
}

.menu-vertical {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 0.25 0.625rem rgba(0, 0, 0, 0.1);
}

.menu-horizontal li:hover > .menu-vertical {
  display: block;
}

.menu-vertical li a {
  display: block;
  padding: 0.625rem 1.25rem;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

.menu-vertical li a:hover {
  background-color: #045a80;
  transform: translateX(0.625rem);
  transition: all 0.3s ease;
}

.seccion-atencion-vet {
  padding: 5rem 1.25rem;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.div-gral-atencion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 1.25;
}

.div-atencion-texto {
  flex: 1;
}

.div-atencion-texto h2 {
  color: #045a80;
  margin-bottom: 0.313rem;
}

.div-atencion-texto p {
  color: black;
  line-height: 1.5;
  text-align: justify;
}

.div-atencion-img {
  flex: 1;
  text-align: right;
}

.div-atencion-img img {
  width: 100%;
  max-width: 18.75rem;
}

.seccion-bca {
  padding: 0rem 1.25rem;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.div-gral-bca {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 1.25rem;
}

.div-bca-texto {
  flex: 1;
}

.div-bca-texto h2 {
  color: #045a80;
}

.div-bca-texto p {
  color: black;
  line-height: 1.5;
  text-align: justify;
}

.div-bca-video iframe {
  width: 100%;
  max-width: 31.25rem;
}

/*Formulario*/

.seccion-form {
  background-color: #2da4f3ee;
  padding: 2.5rem;
  border: 0.188rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  font-family: "Roboto", sans-serif;
  border-radius: 0.313rem;
  border: 0.063rem solid #045a80;
}

.div-cont-form {
  background-color: #045a80;
  padding: 1.875rem;
  border: 0.125rem solid rgba(51, 114, 230, 0.952);
  border-radius: 0.313rem;
  width: 100%;
  max-width: 31.25rem;
}

.div-cont-form {
  color: white;
}

.campo {
  border: 0.063rem;
  padding: 0.938rem;
  margin-bottom: 0.938rem;
  border-radius: 0.5rem;
  background-color: white;
}

.seccion-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: #045a80;
}

/*INPUT Y SELECT*/
input[type="text"],
select {
  width: 100%;
  padding: 0.625rem 0rem;
  border: 0.063rem solid #045a80;
  border-radius: 0.313rem;
}

.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 0.625rem;
  margin: 0;
  border: 0.063rem;
  background-color: #31ddfca4;
  border-radius: 0.313rem;
  margin-right: 0.313rem;
}

button {
  background-color: white;
  color: black;
  border: 0.063 solid black;
  padding: 0.625rem 1.25rem;
  border-radius: 0.313rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}